<footer class="container-fluid">
    <div class="row p-3 bg-dark text-white" >
      <div class="col-xs-12 col-md-6 col-lg-3">
        <p class="h3 "> Jack Vinaterias</p>
      </div>
        <div class="col-xs-12 col-md-6 col-lg-3">
          <p class="h5 ">CONTACTO</p>
            
              <div class=" linkredes mb-2 text-left pl-2 pt-4">
                <a href="##"> <img class="w-25" src="https://github.com/EnriqueHernandezM/proyectofinal_ehm/blob/master/imagenes/logogithub.png?raw=true" alt="gitHub"></a>
              </div>
        </div>
          <div class="col-xs-12 col-md-6 col-lg-3">
            <p class="h5">PRIVACIDAD Y SEGURIDAD</p>
            <p class="mt-4"> Datos</p>
            <p class="mt-4"> Privacidad</p>
            <p class="mt-4"> Terminos y Condiciones</p>
          </div>
            <div class="col-xs-12 COL-md-6 col-lg-3 text-center">
              <p class="h5">DESARROLLADO POR</p>
              <p>Enrique Hernandez Montiel</p>
              <p> Mexico</p>
            </div>
  </footer>
  <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>