{{> navbar}}
<br/>
<div class="container-fluid mt-5">
    <div class="row mt-5 pt-5 text-white text-center">
        <h1>Felicidades</h1>
        <div class="col-l-12 text-white fs-2">
           {{confirmacion}}
        </div>
    </div>
</div>
{{> footer}}
<br/>