html(lang="es")
    head
        title='test pug'
        style
            include estilos.css
    body 
        nav#navbar
            div#containerNav
                ul
                    li.logo Jack Vinaterias
                    li #[a(href = "/") Home]
                    li #[a(href = "/productos") productos] 
                    li #[a(href = "/productos/newProduct") Agregar producto] 
    h1.tituloForm Ingresa un nuevo Item     
    div(class="contenedorDeForm") 
        form(action="/productos",  method="POST")
            p ingresa nombre producto
            input(type="text", name="producto", required="true")
            p ingresa precio
            input(type="number", name="precio", required="true")
            p ingresa URL de imagen del producto
            input(type="text", name="imagen", )
            input(type="submit", value="Upload product", class="botonPost")
        footer 
            ul
                li Desarrollado por Enrique Hernandez 

                
               
        