<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body class="bg-dark text-white">
    <%- include('../partials/navbar'); %>
    <div class="container-fluid d-flex">
      <div class="row align-items-center">
        <div class="col-lg-6">
          <% if(crearCuentamsg){ %>
          <h1><%=crearCuentamsg%></h1>
          <% } %>
        </div>
        <div class="col-lg-6"></div>
      </div>
    </div>
    <%- include('../partials/footer'); %>
  </body>
</html>
