<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body class="bg-dark text-white">
    <%- include('../partials/navbar'); %>

    <div class="container-fluid d-flex">
      <div class="row align-items-center">
        <div class="col-lg-12">
          <h2>GRACIAS POR TU COMPRA RECIBIRAS UN MENSAJE DE CONFIRMACION</h2>
        </div>
      </div>
    </div>
    <%- include('../partials/footer'); %>
  </body>
</html>
