.contenedorDeProducts {
  h1 {
    font-size: 3.3rem;
    text-align: center;
    padding: 1rem;
    margin-bottom: 2rem;
  }
  width: 80vw;
  margin: auto;
  padding: 2rem;
  article {
    display: flex;
    flex-direction: row-reverse;
    padding: 1rem;
    align-items: center;
    justify-items: center;
    justify-content: space-between;
    p {
      padding: 2rem;
      margin: 0.5rem;
      width: 33%;
      text-align: center;
    }
    img {
      width: 25%;
    }
  }
}
.contenedorDeForm {
  form {
    display: flex;
    margin-top: 4rem;
    margin: auto;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 80%;

    p {
      font-size: 1.75rem;
      text-align: left;
      width: 50vw;
      margin-bottom: 1rem;
    }
    input {
      width: 25rem;
      margin: 0.25rem;
      margin-bottom: 1rem;
    }
    .botonPost {
      margin-top: 2rem;
      width: 10rem;
      padding: 0.25rem;
    }
  }
}
.tituloForm {
  text-align: center;
  padding: 4rem;
}
.titSaludo {
  padding: 4rem;
  font-size: 3.3rem;
}
